# Cross-platform Alacritty configuration.

[env]
TERM = "xterm-256color"

[font]
normal = { family = "Menlo", style = "Regular" }
bold = { family = "Menlo", style = "Bold" }
italic = { family = "Menlo", style = "Italic" }
size = 12

[window]
padding.x = 10
padding.y = 10
{{- if eq .chezmoi.os "darwin" }}
decorations = "Buttonless"
{{- else }}
decorations = "Full"
{{- end }}
opacity = 0.95

[colors.primary]
background = "#1e1e2e"
foreground = "#cdd6f4"

[colors.normal]
black = "#45475a"
red = "#f38ba8"
green = "#a6e3a1"
yellow = "#f9e2af"
blue = "#89b4fa"
magenta = "#f5c2e7"
cyan = "#94e2d5"
white = "#bac2de"

[colors.bright]
black = "#585b70"
red = "#f38ba8"
green = "#a6e3a1"
yellow = "#f9e2af"
blue = "#89b4fa"
magenta = "#f5c2e7"
cyan = "#94e2d5"
white = "#a6adc8"

[keyboard]
bindings = [
  { key = "F11", action = "ToggleFullscreen" },
{{- if eq .chezmoi.os "darwin" }}
  { key = "N", mods = "Command", action = "CreateNewWindow" },
{{- end }}
]
